<%- include("partial/header.ejs") -%>

<h1>Home</h1>

<h3><%= content %></h3>

<% for (let i=0; i<newPost.length; i++){ %>
  <h1><%=newPost[i].title%></h1>
  <p><%=newPost[i].body%></p>
  <% } %> <%- include("partial/footer.ejs") -%> >
</newPost.length;>
